extends ../layout

block content
  form(action="", method="POST")
    input(required type="email", name="lead_email", placeholder="Enter your email address" value=lead.email)
    button(type="submit") Save 